@font-face {
  font-family: "aArigatouGozaimasu";
  src: url("../fonts/aArigatouGozaimasu.eot");
  src: url("../fonts/aArigatouGozaimasu.eot?#iefix") format("embedded-opentype"),
    url("../fonts/aArigatouGozaimasu.svg#aArigatouGozaimasu") format("svg"),
    url("../fonts/aArigatouGozaimasu.ttf") format("truetype"),
    url("../fonts/aArigatouGozaimasu.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Exoplanetaria-gxxJ5";
  src: url("../fonts/Exoplanetaria-gxxJ5.eot");
  src: url("../fonts/Exoplanetaria-gxxJ5.eot?#iefix")
    format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Exoplanetaria";
  src: url("../fonts/Exoplanetaria.svg#Exoplanetaria") format("svg"),
    url("../fonts/Exoplanetaria.ttf") format("truetype"),
    url("../fonts/Exoplanetaria.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
