nav,
.menu nav ul {
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu {
  margin: 10px;
  width: 900px;
}

.menu a {
  margin-right: 5px;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 30px 16px;
  text-decoration: none;
  font-size: 17px;
}

.menu a:last-child {
  padding-right: 0;
}
.menu a:hover {
  color: #ffd700;
}

.menu a.is-current {
  color: #be0028;
}
.menu a li {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  font-size: 17px;
}
