* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
ul {
  list-style: none;
}
ol li {
  padding: 4px;

  list-style-position: inside;
}
body {
  background-color: #fdfdfa;
}

header {
  width: 100%;
  height: 80px;
  display: block;
  background-color: #161616;
  border-bottom: 4px solid #ffd700;
}

.inner-header {
  width: 1000px;
  height: 100%;
  display: block;
  margin: 0 auto;
  font-family: "aArigatouGozaimasu";
}

.logo {
  height: 100%;
  display: table;
  float: left;
  font-family: "aArigatouGozaimasu";
}

.logo h1 {
  font-family: "aArigatouGozaimasu";
  color: white;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  font-size: 32px;
}
span:first-of-type {
  color: #be0028;
  border: 3px solid #161616;
  padding: 5px 10px;
  border-radius: 50%;
  font-size: 35px;
  font: 32px Arial, sans-serif;
  background-color: #be0028;
}

footer {
  width: 100%;
  height: 45px;
  display: block;
  background-color: #161616;
  border-top: 1px solid #be0028;
  position: fixed;
  left: 0;
  bottom: 0;
  color: #ffffff;
  font-family: "";
  text-align: center;
  font-family: "Exoplanetaria";
}

.home {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  justify-items: center;
  align-content: center;
}
.home-item {
  border: 1px solid #161616;
  justify-content: center;
  padding: 10px;
  justify-items: center;
  margin-top: 10px;
}

img {
  border: 2px dashed #ffd700;
  outline: 2px solid #be0028;
}

h2 {
  text-align: center;
  padding: 10px;
  font-family: "aArigatouGozaimasu";
  font-style: italic;
  text-shadow: 2px 2px #ffd700;
}

.container {
  display: block;
  grid-gap: 25px;
  margin: 0 auto;
  max-width: 1000px;
  border-radius: 5px;
  justify-content: center;
  justify-items: center;
}

.page {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 15px;
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  justify-items: center;
  align-content: center;
}

.page-item {
  border-left: 1px solid #161616;
  justify-content: center;
  padding: 0px;
  justify-items: center;
  margin-top: 10px;
}

h3 {
  padding: 5px;
}

.pad {
  padding: 10px;
}

figcaption {
  text-align: center;
  font-style: italic;
  font-weight: bold;
  font-size: 13px;
}

a {
  color: #be0028;
}

a:hover {
  color: #ffd700;
}

a:visited {
  color: #696969;
}
p,
ol {
  font-family: "Exoplanetaria";
  font-size: 12px;
}

h3 {
  font-family: "Exoplanetaria";
}
